:root {

}

html, body {
    font-family: "Roboto", sans-serif;
}

/* Colors */
.bg-color-name-title {
    background-color: hsl(0, 0%, 40%);
}

.bg-color-three-reasons {
    background-color: hsl(0, 0%, 100%);
}

.bg-color-personal-info {
    background-color: hsl(0, 0%, 96%);
}

.ui-menu-color-home {
    background-color: hsl(28, 80%, 52%);
}

.ui-menu-color-resume {
    background-color: hsl(283, 39%, 53%);
}

.ui-menu-color-contact {
    background-color: hsl(205, 70%, 53%);
}

.ui-menu-color-download {
    background-color: hsl(0, 0%, 32%);
}

/* Utilities */
h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 98%);
}

.inline-block {
    display: inline-block;
}

/* General */
.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* Heading */
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../media/images/rosie.jpg") no-repeat center;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: hsl(0, 0%, 100%);
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: hsl(0, 0%, 100%);
}

.menu-container {
    font-size: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    height: 120px;
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    color: hsl(0, 0%, 98%);
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* Hover CSS */
.hvr-sweep-to-bottom:before {
    height: 120px;
    background-color: rgba(0,0,0,0.2);
}

/* Footer */
footer {
    background-color: hsl(0, 0%, 32%);
    color: hsl(0, 0%, 98%);
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: hsl(0, 0%, 98%);
    text-align: center;
    padding-left: 5px;
    transition: color .35s ease-in-out;
    -moz-transition: color .35s ease-in-out;
    -webkit-transition: color .35s ease-in-out;
    -o-transition: color .35s ease-in-out;
}

.cv-pdf i:hover {
    color: hsl(15, 87%, 49%)
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 56%);
    transition: color .35s ease-in-out;
    -moz-transition: color .35s ease-in-out;
    -webkit-transition: color .35s ease-in-out;
    -o-transition: color .35s ease-in-out;
}

.social-links li a i:hover {
    background-color: hsl(15, 87%, 49%)
}

#footer-details {
    padding: 20px;
}

/* Three reasons */
.three-reasons-icon {
    font-size: 26px;
    color: hsl(28, 80%, 52%);;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* Personal info */
.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/* Bootstrap Progress bar | Skills */
.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: hsl(0, 0%, 98%);
    background-color: hsla(0, 0%, 10%, 0.2);
}


.progress-section {
    margin: 40px 20px;
}
